absl-py>=2.0,<3.0
albucore>=0.0.20,<0.1
albumentations>=1.4,<2.1
annotated-types>=0.6,<0.8
anyio>=3.7,<5.0
asttokens>=2.2,<3.1
astunparse>=1.6,<1.7
beautifulsoup4>=4.12,<5.0
certifi>=2023.6,<2026.0
charset-normalizer>=3.2,<4.0
click>=8.1,<9.0
coloredlogs>=15.0,<16.0
comm>=0.2,<0.3
contourpy>=1.1,<2.0
cycler>=0.11,<1.0
debugpy>=1.6,<2.0
decorator>=5.1,<6.0
Deprecated>=1.2,<2.0
executing>=2.0,<3.0
fastapi>=0.95,<0.116
filelock>=3.12,<4.0
flatbuffers>=23.5,<26.0
fonttools>=4.43,<5.0
gast>=0.5,<0.7
gdown>=5.0,<6.0
google-pasta>=0.2,<0.3
greenlet>=2.0,<4.0
grpcio>=1.54,<2.0
h11>=0.14,<0.17
h5py>=3.9,<4.0
httpcore>=0.15,<2.0
httpx>=0.24,<0.29
humanfriendly>=10.0,<11.0
idna>=3.4,<4.0
imageio>=2.30,<3.0
imgviz>=1.7,<2.0
jedi>=0.19,<1.0
Jinja2>=3.1,<4.0
joblib>=1.3,<2.0
jsonpatch>=1.33,<2.0
jsonpointer>=2.0,<4.0
keras>=2.11,<3.11
kiwisolver>=1.4,<2.0
labelme>=5.0,<6.0
langchain>=0.1,<0.4
langchain-core>=0.1,<0.4
langchain-text-splitters>=0.3,<0.4
langsmith>=0.4,<0.5
lazy_loader>=0.3,<0.5
libclang>=18.0,<19.0
loguru>=0.7,<1.0
Markdown>=3.5,<4.0
markdown-it-py>=2.2,<4.0
MarkupSafe>=2.1,<4.0
matplotlib>=3.7,<4.0
matplotlib-inline>=0.1,<0.2
mdurl>=0.1,<0.2
ml_dtypes>=0.3,<0.6
mpmath>=1.3,<2.0
namex>=0.1,<0.2
natsort>=8.3,<9.0
nest-asyncio>=1.5,<2.0
networkx>=3.1,<4.0
numpy>=1.21,<1.25
onnx>=1.13,<2.0
onnxruntime>=1.14,<1.20
opencv-python-headless>=4.7,<5.0
opt_einsum>=3.3,<4.0
optree>=0.10,<0.17
orjson>=3.9,<4.0
osam>=0.2,<0.3
packaging>=23.0,<25.0
pandas>=1.5,<2.2
parso>=0.8,<0.9
Pillow>=9.0,<10.0
platformdirs>=3.5,<5.0
prompt_toolkit>=3.0,<3.1
protobuf>=3.20,<4.0
psutil>=5.9,<6.0
pure_eval>=0.2,<0.3
pydantic>=2.0,<2.12
pydantic_core>=2.0,<2.34
Pygments>=2.15,<3.0
python-dateutil>=2.8,<2.10
python-multipart>=0.0.5,<0.1
pytz>=2023.3,<2024.0
PyYAML>=6.0,<7.0
pyzmq>=24.0,<25.0
requests>=2.31,<3.0
requests-toolbelt>=1.0,<2.0
rich>=13.0,<15.0
scikit-image>=0.19,<0.20
scikit-learn>=1.2,<1.3
scipy>=1.9,<1.11
seaborn>=0.12,<0.13
simsimd>=6.0,<7.0
six>=1.16,<2.0
sniffio>=1.3,<2.0
soupsieve>=2.5,<3.0
SQLAlchemy>=2.0,<2.1
stack-data>=0.6,<0.7
stringzilla>=3.12,<3.13
sympy>=1.11,<1.15
tenacity>=8.2,<10.0
tensorboard>=2.11,<2.13
tensorboard-data-server>=0.7,<0.8
tensorflow>=2.10,<2.12
tensorflow-io-gcs-filesystem>=0.31,<0.32
termcolor>=1.1,<2.0
tf-keras-vis>=0.8,<0.9
tf2onnx>=1.14,<1.17
threadpoolctl>=3.1,<4.0
tifffile>=2023.7,<2023.10
tornado>=6.2,<6.5
tqdm>=4.65,<5.0
traitlets>=5.9,<6.0
typing-inspection>=0.4,<0.5
typing_extensions>=4.7,<5.0
tzdata>=2023.3,<2025.3
urllib3>=2.0,<3.0
uvicorn>=0.18,<0.19
wcwidth>=0.2,<0.3
Werkzeug>=2.2,<2.4
wrapt>=1.14,<2.0
zstandard>=0.22,<0.24
